$secondary-clr: #206A5D;
$clr-accent:#5b6e80;
$clr-white:#FFFFFF;
$primary-clr:#F7F7F7;
$clr-black:#000000;

$ff-accent: "Modern-Sans";
$ff-primary: "Audrey";

* {
    box-sizing: border-box;
    margin:0;
    padding:0
}

body,
h1,
h2,
h3,
p{
    margin: 0;
}

$font-weights : (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

@font-face{
    font-family: "Audrey";
    src: url("../css/fonts/Audrey-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Modern-Sans";
    src: url("../dist/css/fonts/Moderne-Sans-Font.woff") format("woff");
    font-weight: normal;
}

@function weight($key){
    @return map-get($map: $font-weights, $key: $key);
}

@mixin container {
    width:min(90%, 80em);
    margin-inline:auto;
    padding:4rem 0;
}



