$secondary-clr: #206A5D;
$clr-accent:#5b6e80;
$clr-white:#FFFFFF;
$primary-clr:#F7F7F7;
$clr-black:#000000;

$ff-accent: "Modern-Sans";
$ff-primary: "Audrey";

* {
    box-sizing: border-box;
    margin:0;
    padding:0
}

body,
h1,
h2,
h3,
p{
    margin: 0;
}
$padding-block : (
    "small": 2em 0,
    "medium": 4em 0,
    "large": 8em 0,
);
@function padding($key){
    @return map-get($map: $padding-block, $key: $key)
};

$font-weights : (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

@function weight($key){
    @return map-get($map: $font-weights, $key: $key);
}

@mixin container {
    width:min(90%, 80em);
    margin-inline:auto;
}



