.title{
    margin-bottom: 2em;
    background-image: url("../css/bg-images/bike1.jpg");
    background-size: cover;
    #{&}__main{
        @include container;
        padding:padding(large);
    }
    #{&}__text-container{
        background-color: $clr-black;
        border-radius: 8px;
        opacity:0.7;
        padding:0.8em;
        width: fit-content;
    }
    #{&}__button{
        margin: 2rem 1rem 0 0;
        border-radius: 6px;
        padding: 0.8em 1.2em;
        font-size: 1rem;
        background: $secondary-clr;
        border:2px solid $secondary-clr;
        color: $clr-white;
        transition: 1s;
        letter-spacing: 1px;
        &--right{
            display: block;
            background-color:transparent;
            padding: 0.8em 1.9em;
            &:hover{
                background-color: $secondary-clr;
                color: $clr-white;
            }
        }
        &:hover{
            transform: scale(1.04);
            opacity: 0.75;
        }
    }
    #{&}__heading{
        font-size: 9vmin;
        font-weight:weight(bold);
        font-family: $ff-primary;
        color:$clr-white;
    }
}
