@font-face{
    font-family: "Audrey";
    src: url("../css/fonts/Audrey-Bold.woff") format("woff");
    font-weight: bold;
}

@font-face {
    font-family: "Modern-Sans";
    src: url("../dist/css/fonts/Moderne-Sans-Font.woff") format("woff");
    font-weight: normal;
}

$clr-accent: #8E0505;
$clr-text-accent:#5b6e80;
$clr-primary:#F7F7F7;
$body-main-color:#fff;

$ff-accent: "Modern-Sans";
$ff-primary: "Audrey";
$font-weights : (
    "regular": 400,
    "medium": 500,
    "bold": 700
);


