@import "./resets.scss";
@import "./variables.scss";

@function weight($key){
    @return map-get($map: $font-weights, $key: $key);
}

.project-content{
    font-weight: weight(regular);
    color: $clr-text-primary;
    font-family: $ff-primary;
    font-size: 16px;
    line-height: 1.1;
    .container{
        width:min(90%, 80em);
        margin-inline:auto;
        padding:4rem 0;
    }
    .heady{
        background-color: $clr-black;
        #{&}__navbar{
            display: flex;
        }
    }
    
}

