@import "./resets.scss";
@import "./variables.scss";

@function weight($key){
    @return map-get($map: $font-weights, $key: $key);
}

.project-content{
    font-weight: weight(regular);
    color: $clr-text-primary;
    font-family: $ff-primary;
    font-size: 16px;
    line-height: 1.1;

}
.container{
    width:min(90%, 80em);
    margin-inline:auto;
    padding:4rem 0;
}
.heady{
    color:$clr-text-primary;
    background-color: $clr-black;
    #{&}__navbar{
        display: flex;
    }
    #{&}__logo{
        margin-right: auto;
        color:$clr-text-primary;
    }
    #{&}__search-icon{
        width:1em;
    }
}